.bx {
  font-size: 1.5em;
}

.add-habit-box:hover .add-habit-circle {
  background-color: var(--color-secondary);
  color: rgb(255 255 255);
}

.bg {
  background: radial-gradient(circle, var(--color-secondary), var(--color-tertiary));
  background-size: 150% 150%;
  animation: circular-gradient 50s linear infinite;
}

@keyframes circular-gradient {
  0% {
    background-position: 10% 10%; /* Top-left */
  }
  10% {
    background-position: 50% 0%; /* Top-center */
  }
  20% {
    background-position: 90% 10%; /* Top-right */
  }
  30% {
    background-position: 100% 50%; /* Right-center */
  }
  40% {
    background-position: 90% 90%; /* Bottom-right */
  }
  50% {
    background-position: 50% 100%; /* Bottom-center */
  }
  60% {
    background-position: 10% 90%; /* Bottom-left */
  }
  70% {
    background-position: 0% 50%; /* Left-center */
  }
  80% {
    background-position: 10% 10%; /* Back near start */
  }
  90% {
    background-position: 50% 0%; /* Top-center */
  }
  100% {
    background-position: 10% 10%; /* Back to start */
  }
}


.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
 
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 212px;
}

.wave .shape-fill {
  fill: #ffffff;
}
