.bx {
  font-size: 1.5em;
}

.add-habit-box:hover .add-habit-circle {
  background-color: var(--color-secondary);
  color: rgb(255 255 255);
}

.rotate-360 {
  animation: rotate-360 infinite 7s linear;
  -moz-animation: rotate-360 infinite 7s linear;
  -webkit-animation: rotate-360 infinite 7s linear;
  -o-animation: rotate-360 infinite 7s linear;
}

@keyframes rotate-360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-circle {
  animation: rotate-circle infinite 70s linear;
  -moz-animation: rotate-circle infinite 70s linear;
  -webkit-animation: rotate-circle infinite 70s linear;
  -o-animation: rotate-circle infinite 70s linear;
} 

@keyframes rotate-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}