@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/styles.css";

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .bg-glass {
    @apply bg-white/80 backdrop-blur-sm;
  }
  .bg-glass-gradient {
    @apply bg-gradient-to-r from-white/80 via-white/60 to-white/40 backdrop-blur-sm;
  }
  .bg-gradient {
    @apply bg-gradient-to-br from-cyan-500 via-blue-500 to-indigo-500;
  }
}

:root {
  --color-primary: rgb(6, 182, 212); /* Cyan */
  --color-secondary: rgb(59, 130, 246); /* Blue */
  --color-tertiary: rgb(99, 102, 241); /* Indigo */
  --color-primary-opacity: rgba(6, 182, 212, 0.5);
}

::-webkit-scrollbar {
  width: 7px;
  background: transparent;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: rgba(75, 85, 99, 0.5);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 0.7);
}
