@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/styles.css";

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .bg-glass {
    @apply bg-gradient-to-r from-white/40 via-white/30 to-white/20 backdrop-blur-lg;
  }
}

:root {
  --color-primary: #5a3e1a;
  --color-secondary: #d8a732;
  --color-tertiary: #fffbe9;

  --color-primary-opacity: #33260099;
}

::-webkit-scrollbar {
  width: 7px;
  background: transparent;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.2);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.3);
}
